.fixed-banner-area
  %a.fixed-banner-item.fbi0{href: "", style: "border-right:1px solid #eee;"}
    %img{src: "http://omqxp8we2.bkt.clouddn.com/element/2017/07/03/725295959f35b121d5"}
  %a.fixed-banner-item.fbi1{href: "", style: "border-bottom:1px solid #eee;"}
    %img{src: "http://omqxp8we2.bkt.clouddn.com/element/2017/06/15/7352159426df47f82c"}
  %a.fixed-banner-item.fbi2{href: "", style: "border-right:1px solid #eee;"}
    %img{src: "http://omqxp8we2.bkt.clouddn.com/element/2017/07/07/25754595f070cab06d"}
  %a.fixed-banner-item.fbi3{href: "", style: ""}
    %img{src: "http://omqxp8we2.bkt.clouddn.com/element/2017/06/26/285115950b3546a100"}

