%header.top-menu-container
  .top-menu
    .inner
      %a.top-menu-item{href: "/"} 今日推荐
      %a.top-menu-item{href: "/fenlei/nvzhuang/"} 女装
      %a.top-menu-item{href: "/fenlei/meizhuang/"} 美妆
      %a.top-menu-item{href: "/fenlei/nanzhuang/"} 男装
      %a.top-menu-item{href: "/fenlei/xiezi/"} 鞋子
      %a.top-menu-item{href: "/fenlei/xiangbao/"} 箱包
      %a.top-menu-item{href: "/fenlei/chengren/"} 成人
      %a.top-menu-item{href: "/fenlei/neiyi/"} 内衣
      %a.top-menu-item{href: "/fenlei/muying/"} 母婴
      %a.top-menu-item{href: "/fenlei/hufu/"} 护肤
      %a.top-menu-item{href: "/fenlei/shenghuo/"} 生活
      %a.top-menu-item{href: "/fenlei/jujia/"} 居家
      %a.top-menu-item{href: "/fenlei/meishi/"} 美食
      %a.top-menu-item{href: "/fenlei/yundong/"} 运动
      %a.top-menu-item{href: "/fenlei/peishi/"} 配饰
      %a.top-menu-item{href: "/fenlei/shuma/"} 数码
      %a.top-menu-item{href: "/fenlei/chongwu/"} 宠物
  .sort-option-area{style: "display: #{need_sort ? 'block' : 'none'}"}
    %ul
      %li{data: {type: "0"}, class: "sort-li active", style: "width:33%"} 最热
      %li{data: {type: "1"}, class: "sort-li", style: "width:33%"} 最新
      %li{data: {type: "2"}, class: "sort-li", style: "width:33%"} 特价
  .sort-option-area{style: "display: #{need_ads ? 'block' : 'none'}"}
    %ul
      %li{id: "li-99", style: "width:33%"}
        %a{href: "/9kuai9/"} 9块9包邮
      %li{id: "li-baokuan", style: "width:33%"}
        %a{href: "/baokuan/"} 爆款热销
      %li{style: "width:33%"}
        %a{href: "http://taobao.iquan.net/index.php?r=ddq/wap", target: "_blank"} 咚咚抢

