- title("淘宝爆款_十块购")
- head_desc("十块购 - 淘宝爆款热销产品,爆款热卖进行中,网站内最热门的优惠券免费领！")
- keywords("爆款,爆款网,热销,热销产品,热门优惠券")
- path(@path)

.wrapper
  = render partial: "m_diyquan/header", locals: {need_sort: false, need_ads: true}
  = render partial: "m_diyquan/page_js", locals: {path: '/getHotCouponList', pinyin: '', keyword: '', pagesize: 20, sort_type: 0}
  = render partial: "m_diyquan/shuangpai_list", locals: {coupons: @coupons}

:javascript
  $('#li-baokuan > a').css({color: '#FF2220'});
