- title("「十块购官网」蛮便宜9.9包邮，专注特价好货,1折特卖,全场包邮! ShiKuaiGou.Com")
- head_desc("十块购官网（ShiKuaiGou.Com）消费导购平台，汇聚淘宝 京东等平台9.9包邮及19.9包邮特价好货。十块购为您提供精明的购物决策，我们致力于以客观中立的态度，为您推荐最具品质和性价比的消费信息。")
- keywords("十块购,十元包邮,10块购,十块邮,天天特价,蛮便宜,9.9包邮,捡宝贝,九块邮,十块购官网")
- h1("十块购官网 - 天天特价 今日特价")

.wrapper
  = render partial: "m_diyquan/header", locals: {need_sort: false, need_ads: false}
  .recommend-section
    .banner-area.swiper-container.swiper-container-horizontal
      #bannerArea.swiper-wrapper
    .fixed-banner-area
    = render partial: "m_diyquan/page_js", locals: {path: '/getHomeCouponList', pinyin: '', keyword: '', pagesize: 40, sort_type: 0}
    = render partial: "m_diyquan/danpai_list", locals: {coupons: @coupons}
