- title("优惠券搜索平台 - 爱券网")
- head_desc("爱券网 - 找券搜券淘券抢券拿券妈妈券宝宝券猪猪券内部券一网打尽，提供淘宝优惠券、天猫优惠券、内部优惠券、内部优惠卷、隐藏优惠券、隐藏券、隐藏优惠卷等实时查询服务，先搜索领券，再淘宝下单，专享爱券网折上折。每日更新大额优惠券、品牌优惠券、一折特价底价专场、9块9包邮白菜价好东西，加入搜藏，天天省钱 - 爱券网。") 
- keywords("折券,折券网,爱券,爱券网,爱卷,爱卷网,内部优惠券,淘宝优惠券,天猫优惠券,优惠券平台,优惠券领取,找券网,搜券网,搜券券,好券网,拿券网,淘券网,猪猪券,妈妈券,券宝宝,淘券网,抢券网")
- h1("优惠券搜索")

.wrapper
  .search-main
    .search-area
      %form{action: "#", onsubmit: "return false;"}
        .inner
          %i
          %input{id: "searchInput", name: "searchInput", class: "search-input", placeholder: "搜索优惠券",type: "text"}
  %div
    %p{style: "background-color:white;padding:0 10px 10px 10px"}
      - @hot_keywords.each do |keyword|
        %span{style: "display: inline-block;height: 22px;padding: 0 12px;border-radius: 20px;font-size: 12px;line-height: 22px;text-align: center;color: #666;background-color: #eee;margin: 20px 30px 0 0;"} 
          %a{href: "/zhekou/#{URI.encode(keyword)}/"} #{keyword}
:javascript
  $(document).ready(function() {$("#searchInput").focus();$("#searchInput").on('keypress', function(e){var _this = $("#searchInput");if(e.keyCode == 13 && $.trim(_this.val()) != ''){window.location.href = "/zhekou/" + encodeURIComponent($.trim(_this.val())) + "/";}});});
 
