- title(@title)
- head_desc(@description)
- keywords(@page_keywords)
- path(@path)
- h1(@h1)

.wrapper
  = render partial: "m_diyquan/header", locals: {need_sort: true, need_ads: false}
  = render partial: "m_diyquan/page_js", locals: {path: '/getSearchCouponList', pinyin: '', keyword: @keyword, pagesize: 20, sort_type: @sort_type}
  = render partial: "m_diyquan/shuangpai_list", locals: {coupons: @coupons}
