.footer
  .footer-top
    .wrapper
      .yl
        %p.head 友情链接：
        .yl-links
          %a{href: "/map_k/"} 天天特价9块9 
          %a{href: "/dianpu/"} 淘宝店铺排行榜
      .logo-slogan
        .qr-code
          %a{href: "/"}
            %img{src: "/image/love.jpg"}
        .txt
          %p.s1 一定要加入搜藏呦！
          %p.s2 
  .footer-bootom
    .wrapper
      %p 十块购 - 渝ICP备15000671号-13
