<div class="hori-cate-area">
  <div class="cate-l-1">
    <div class="wrapper ">

      <a class="" href="/fenlei/nvzhuang/">女装</a>

      <a class="" href="/fenlei/nanzhuang/">男装</a>

      <a class="" href="/fenlei/xiezi/">鞋子</a>

      <a class="" href="/fenlei/xiangbao/">箱包</a>

      <a class="" href="/fenlei/meizhuang/">美妆</a>

      <a class="" href="/fenlei/hufu/">护肤</a>

      <a class="" href="/fenlei/shenghuo/">生活</a>

      <a class="" href="/fenlei/jujia/">居家</a>

      <a class="" href="/fenlei/meishi/">美食</a>

      <a class="" href="/fenlei/neiyi/">内衣</a>

      <a class="" href="/fenlei/yundong/">运动</a>

      <a class="" href="/fenlei/shuma/">数码</a>

      <a class="" href="/fenlei/muying/">母婴</a>

      <a class="" href="/fenlei/peishi/">配饰</a>

      <a class="" href="/fenlei/chengren/">成人</a>

      <a class="" href="/fenlei/chongwu/">宠物</a>

    </div>
  </div>
</div>
