.footer
  .footer-top
    .wrapper
      .yl
        %p.head 友情链接：
        .yl-links
          - links.each do |link|
            %a{herf: "#{link.url}", target: "_blank"} #{link.anchor}
      .logo-slogan
        .qr-code
          %a{href: "/"}
            %img{src: "/image/love.jpg"}
        .txt
          %p.s1 一定要加入搜藏呦！
          %p.s2 
  .footer-bootom
    .wrapper
      %p 十块购 - 渝ICP备15000671号-13
