<div class="wrapper home-oper-area">
  <div class="cate-area">

    <a data-ga-event="首页:点击:首页_分类_女装" href="/fenlei/nvzhuang/" class="cate-item with-line">
      <div class="inner"><i class="cate-icon ci-nvzhuang"></i>女装</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_男装" href="/fenlei/nanzhuang/" class="cate-item">
      <div class="inner"><i class="cate-icon ci-nanzhuang"></i>男装</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_鞋子" href="/fenlei/xiezi/" class="cate-item with-line">
      <div class="inner"><i class="cate-icon ci-xiezi"></i>鞋子</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_箱包" href="/fenlei/xiangbao/" class="cate-item">
      <div class="inner"><i class="cate-icon ci-xiangbao"></i>箱包</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_美妆" href="/fenlei/meizhuang/" class="cate-item with-line">
      <div class="inner"><i class="cate-icon ci-meizhuang"></i>美妆</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_护肤" href="/fenlei/hufu/" class="cate-item">
      <div class="inner"><i class="cate-icon ci-hufu"></i>护肤</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_生活" href="/fenlei/shenghuo/" class="cate-item with-line">
      <div class="inner"><i class="cate-icon ci-shenghuo"></i>生活</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_居家" href="/fenlei/jujia/" class="cate-item">
      <div class="inner"><i class="cate-icon ci-jujia"></i>居家</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_美食" href="/fenlei/meishi/" class="cate-item with-line">
      <div class="inner"><i class="cate-icon ci-meishi"></i>美食</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_内衣" href="/fenlei/neiyi/" class="cate-item">
      <div class="inner"><i class="cate-icon ci-neiyi"></i>内衣</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_运动" href="/fenlei/yundong/" class="cate-item with-line">
      <div class="inner"><i class="cate-icon ci-yundong"></i>运动</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_数码" href="/fenlei/shuma/" class="cate-item">
      <div class="inner"><i class="cate-icon ci-shuma"></i>数码</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_母婴" href="/fenlei/muying/" class="cate-item with-line">
      <div class="inner"><i class="cate-icon ci-muying"></i>母婴</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_配饰" href="/fenlei/peishi/" class="cate-item">
      <div class="inner"><i class="cate-icon ci-peishi"></i>配饰</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_成人" href="/fenlei/chengren/" class="cate-item with-line last">
      <div class="inner"><i class="cate-icon ci-chengren"></i>成人</div>
    </a>

    <a data-ga-event="首页:点击:首页_分类_宠物" href="/fenlei/chongwu/" class="cate-item last">
      <div class="inner"><i class="cate-icon ci-chongwu"></i>宠物</div>
    </a>

  </div>
  <div class="banner-top">
    <div class="banner-area swiper-container swiper-container-horizontal">
      <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-660px, 0px, 0px);">
        <a data-ga-event="首页:点击:首页_banner1" class="swiper-slide" href="/zhuanchang/2589/">
          <img style="width: 100%;" src="/image/banner1.jpg">
        </a>
        <a data-ga-event="首页:点击:首页_banner2" class="swiper-slide" href="/zhuanchang/3097/">
          <img style="width: 100%;" src="/image/banner2.jpg">
        </a>
        <a data-ga-event="首页:点击:首页_banner3" class="swiper-slide" href="/zhuanchang/2909/" >
          <img style="width: 100%;" src="/image/banner3.jpg">
        </a>
      </div>
      <div class="swiper-bottom">
        <div class="swiper-pager"></div>
      </div>
    </div>

    <div class="top-right-banner">
      <a data-ga-event="首页:点击:首页_右侧小banner" href="/9kuai9/">
        <img src="/image/lbanner1.jpg">
      </a>
    </div>

  </div>
  <div class="small-banner-area">

    <div href="javascript:;" class="small-banner-item">
      <a data-ga-event="首页:点击:首页_小banner1" href="/fenlei/nvduanxiu/">
        <img src="/image/sbanner1.jpg">
        <p class="title">新款短袖</p>
      </a>
    </div>
    <div href="javascript:;" class="small-banner-item">
      <a data-ga-event="首页:点击:首页_小banner2" href="/fenlei/nvchuncai/">
        <img src="/image/sbanner2.jpg">
        <p class="title"> 唇妆</p>
      </a>
    </div>
    <div href="javascript:;" class="small-banner-item">
      <a data-ga-event="首页:点击:首页_小banner3" href="/fenlei/nvwaitao/">
        <img src="/image/sbanner3.jpg">
        <p class="title">薄款外套</p>
      </a>
    </div>
    <div href="javascript:;" class="small-banner-item">
      <a data-ga-event="首页:点击:首页_小banner4" href="/fenlei/danjianbao/">
        <img src="/image/sbanner4.jpg">
        <p class="title">单肩包</p>
      </a>
    </div>
    <div href="javascript:;" class="small-banner-item">
      <a data-ga-event="首页:点击:首页_小banner5" href="/fenlei/nanduanxiu/">
        <img src="/image/sbanner5.jpg">
        <p class="title">男款T恤</p>
      </a>
    </div>
    <div href="javascript:;" class="small-banner-item">
      <a data-ga-event="首页:点击:首页_小banner6" href="/fenlei/nvqunzi/">
        <img src="/image/sbanner6.jpg">
        <p class="title">气质美裙</p>
      </a>
    </div>
  </div>
</div>
