.order-area
  %ul.sort-type
    %li{id: "li-sort-0", data: {sort: "0", class: "active"}} 综合
    %li{id: "li-sort-1", data: {sort: "1", class: "active"}} 销量
    %li{id: "li-sort-2", data: {sort: "2", class: "active"}} 价格
    %li{id: "li-sort-4", data: {sort: "4", class: "active"}} 优惠额
    %li{id: "li-sort-3", data: {sort: "3", class: "active"}} 优惠力度
  %ul.price-filter
    %li{data: {price: "20"}} 
      %span
        %i
      20元券
    %li{data: {price: "50"}}
      %span
        %i
      50元券
    %li{data: {price: "100"}}
      %span
        %i
      100元券
