- title("「十块购官网」粉丝福利购,淘宝天猫特价好货,天天特价,今日特价!")
- head_desc("十块购官网（ShiKuaiGou.Com）消费导购平台，淘宝粉丝福利购，提供淘宝优惠券搜索，淘宝内部优惠券查询，方便搜找淘宝隐藏券，天猫优惠券，天猫内部优惠券，天猫隐藏券，天天提供淘宝天猫特价好货，天天特价，今日特价！十块购为您提供精明的购物决策，我们致力于以客观中立的态度，为您推荐最具品质和性价比的特价好货。")
- keywords("十块购,十元包邮,10块购,十块邮,十块购官网,粉丝福利购,天天特价,特价好货,今日特价,今日特价网")
- h1("十块购官网 - 粉丝福利购")

= render partial: "diyquan/home_adzone"
.wrapper.home-wrapper
  = render partial: "diyquan/lanlan_quan_list", locals: {coupons: @coupons}
  = render partial: "diyquan/lanlan_load_more", locals: {path: '/getLanlanHomeCouponList', pinyin: '', keyword: '', pagesize: 20, wclass: '.home-wrapper'}

= render partial: "diyquan/home_footer", locals: {links: @links}
