- title("9块9,9.9包邮,9块邮_九块九全场包邮")
- head_desc("十块购 - 全场九块九包邮，九块九包邮专场，本频道所有商品券后价九块九免费包邮到家，想要买到九块九包邮的精品商品请上省钱快报。9.9全场包邮到家-9.9包邮专场，买到就是赚！")
- keywords("9块9包邮,九块九包邮网,9.9包邮,巨划算九块九包邮,每天9.9包邮,九块九,9.9元全场包邮,全场9.9包邮,9.9元全国包邮")
- path(@path)
- h1("9块9包邮官网")

.wrapper.collection-wrapper
  %div{style: "margin-top:20px"}
  = render partial: "diyquan/quan_list", locals: {coupons: @coupons}
  = render partial: "diyquan/load_more", locals: {path: '/getK9CouponList', pinyin: '', keyword: '', pagesize: 20, wclass: '.collection-wrapper'}
:javascript
  $('#header_k9').addClass('active');
