<header>
<nav class="navbar navbar-default header-nav navbar-fixed-top">
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">淘宝内部券领取平台</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="http://www.51sqkb.com">省钱快报</a></li>
      <li><a href="http://www.iquan.net">爱券网</a></li>
      <li><a href="http://www.zhequan.cc">折券</a></li>
      <li><a href="http://www.ichaopai.cc">爱潮牌</a></li>
      <li><a href="http://www.xiongmao123.com">熊猫优选</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
</header>
<div style="padding-top:40px"></div>
